<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productimer</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="navicon.css">
</head>
<body>

    <div id="sidemenuButton" onclick="toggleMenu()" >
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="seeds">
       
    </div>
    <div id="number">

    </div>
    <div class="container">
        <div class="circle">
            
        </div>
        <div id="plant"><h3>PLANT</h3></div>
    </div>
    <div id="menu" >
        <div class="options">
            <ul class="optionsList">
                <li>Forest</li>
                <li>Timeline</li>
                <li>Tags</li>
                <li>Friends</li>
                <li>Achievements</li>
                <li>Store</li>
                <li>About</li>
                <li>Settings</li>
                <li>
                    <form action="/logout" method="post">

                        <button id="logoutBtn">
                             Logout
                        </button>
                    </form>
                </li>

            </ul>
            

        </div>
    </div>

    
    <script>
       const toggleMenu = ()=>{
        const menu = document.getElementById("menu");
        menu.classList.toggle('menuToggle')
       }




    </script>
</body>
</html>