<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productimer</title>
    <link rel="stylesheet" href="css/js-snackbar.css">
    <script src="js/js-snackbar.js"></script>
    <link rel="stylesheet" href="register.css">
</head>
<body>

    <div class="registerContainer">
        <div class="right">
            <form action="/register" method="post">
                <input class= "element" type="email" placeholder="Enter Email" name="email">
                <input class= "element" type="password" placeholder="Enter Password" name="password">
                <button class= "element" type="submit"><h3>Register</h3></button>
            </form>
            <a href="/login">Already have an account?</a>
        </div>
    </div>
    
    
</body>
</html>